*{margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    ;}

    
.cabeçalho {
    background-color: #3b39af;
    color: rgb(20, 24, 27);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24 px 0;
}

.cabeçalho-imagem{
    width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.escola-imagem{
    width: 10%;
}

.escola{
    background-image: linear-gradient(#3b39af,#af8039);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
   


}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    
}
.estudante-imagem{
    width: 25%;
}
.estudante-icone{
    width: 10%;
}
.estudante-div{
    text-align: center;
    padding: 50px 0;
}


.estudantes-todos{
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
    }

.rodape{
    background-color: rgb(150, 150, 207);
    text-align: center;
}

.rodape-imagem{
    height: 50px;
    padding: 12px 0 ;
}